.body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}
.main_nav
{
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
}
.nav_container
{
    width: 100%;
	z-index: 1;
	background: #FFFFFF;
}