@import url('https://fonts.googleapis.com/css?family=Pacifico');

body {
    margin: 0;
}

nav {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1em;
    align-items: center;
    text-align: center;
    border-bottom: 4px solid black;
    background: white;
}

@media screen and (max-width: 900px) {
    nav {
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-gap: 1em;
    }
}


.logo {
    grid-column-start: 3;
    grid-column-end: 5;
    background-image: url("https://puu.sh/BSsfJ/98074e9bac.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 10vh;
}


.navLinks {
    font-family: 'Pacifico', sans-serif;
    font-size: 1em;
    text-decoration: none;
    color: black;
}

.navLinks:hover {
    color: gray;
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding: 1em 1em;
}

.boxLinks {
    font-family: 'Pacifico', sans-serif;
    text-decoration: none;
    color: black;
}

.boxLinks:hover {
    color: gray;
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding: 1em 1em;
}

.boxLinks:visited {
    text-decoration: none;
    color: blue;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(13, 1fr);

}

.box {
    background-color: white;
    color: black;
    padding: 20px;
    font-size: 150%;
}

.a {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 6;
    background-image: url("https://puu.sh/BStTT/b94014783e.JPG");
    background-position: center;
    background-size: contain;
}

.b {
    align-items: center;
    text-align: center;
    font-size: 1.2em;
    text-decoration: none;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 7;

}

.c {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 6;
    background-image: url("https://puu.sh/BSvkA/69a4d7d251.JPG");
    background-position: center;
    background-size: contain;

}

.d {
    align-items: center;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 6;
    grid-row-end: 7;

}

.e {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 8;
    grid-row-end: 12;
    background-image: url("https://puu.sh/BSw4b/d8cc5048ef.JPG");
    background-position: center;
    background-size: contain;


}

.f {
    align-items: center;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 12;
    grid-row-end: 13;
}

.g {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 8;
    grid-row-end: 12;
    background-image: url("https://puu.sh/BSw5S/83fc5c150d.JPG");
    background-position: center;
    background-size: contain;

}

.h {
    align-items: center;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 12;
    grid-row-end: 13;

}


/* cart styling */
.cart-info {
    border: 0.1rem solid black;
    color: black;
    border-radius: 0.25rem;
    padding: 5px 6px;
    cursor: pointer;
    margin: 10px;
    grid-column: 7;
    grid-row: 1;

  }
  .cart-info:hover {
    background: black;
    border-color:black;
    color: white;
}

  .cart {
    border: 2px solid black;
    position: absolute;
    min-height: 10rem;
    background: white;
    top: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
    width: 0;
    overflow: hidden;
}

.show-cart {
    width: 18rem;
    padding: 2rem 1.5rem;
    transform: rotateY(-360deg);
  }

  .cart-item {
    transition: all 2s ease-in-out;
  }
  
  /* end of cart */
  /* cart item */
  .cart-item-remove {
    color:black;
    transition: all 1s ease-in-out;

  }
  .cart-item-remove:hover {
    transform: scale(1.1);
    color: black;
}

#cart-item-price {
    font-size: 0.8rem;
  }
  /* cart item */
  /* cart buttons */


  button {
      grid-column: 4;
      width: 30%;
      height: auto;
      float: right;
      border-radius: 0%;
      border-color: black;
      background-color: white;
  }
