@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Arimo');


nav {
    display: grid;
    grid-template-columns: 1.1fr 1.2fr 1.3fr 1.2fr 0.7fr 0.6fr 0.7fr;
    grid-auto-rows: auto;
    grid-gap: 1em;
    align-items: center;
    text-align: center;
    border-bottom: 4px solid black;
    background: white;
}

@media screen and (max-width: 900px) {
    nav {
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-gap: 1em;
    }
}


.logo {
    grid-column-start: 3;
    grid-column-end: 5;
    background-image: url("https://puu.sh/BSsfJ/98074e9bac.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 10vh;
}


.navLinks {
    font-family: 'Pacifico', sans-serif;
    font-size: 1em;
    text-decoration: none;
    color: black;
}

.navLinks:hover {
    color: gray;
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding: 1em 1em;
}

.boxLinks {
    font-family: 'Pacifico', sans-serif;
    text-decoration: none;
    color: black;
}

.boxLinks:hover {
    color: gray;
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding: 1em 1em;
}

.boxLinks:visited {
    text-decoration: none;
    color: black;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(13, 1fr);

}

.box {
    background-color: white;
    color: black;
    padding: 20px;
    font-size: 150%;
}

.instagram-logo {
    grid-column-start: 6;
    
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    text-decoration:none;
    height: 4vh;
}

.instagram-logo:hover{
    opacity: 0.5;
  transition: opacity .2s ease-out;
  -moz-transition: opacity .2s ease-out;
  -webkit-transition: opacity .2s ease-out;
  -o-transition: opacity .2s ease-out;
}

.snipcart-checkout{
    grid-column-start: 7;
    float: center;
    height: 4vh;
}
.snipcart-checkout:hover {
    opacity: 0.5;
  transition: opacity .2s ease-out;
  -moz-transition: opacity .2s ease-out;
  -webkit-transition: opacity .2s ease-out;
  -o-transition: opacity .2s ease-out;
}


.products-grid {
    display: grid;
    grid-template-columns: 12;
    grid-template-rows: 12;
}
.a {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 5;
}

.b {
    font-family: 'Arimo', sans-serif;
    align-items: center;
    text-align: center;
    font-size: 1.2em;
    text-decoration: none;
    color: black;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;

}


.c {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 5;

}

.d {
    font-family: 'Arimo', sans-serif;
    align-items: center;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 6;

}


.e {
    font-family: 'Arimo', sans-serif;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 9;


}

.f {
    font-family: 'Arimo', sans-serif;
    align-items: center;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 9;
    grid-row-end: 10;
}


.g{
    background-repeat: no-repeat;
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 6;
    grid-row-end: 9;

}

.h {
    font-family: 'Arimo', sans-serif;
    align-items: center;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 9;
    grid-row-end: 10;

}


footer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1em;
    align-items: center;
    text-align: center;
    border-bottom: 4px solid black;
    background: white;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    opacity: .2;
    color: white;
    text-align: center;
}

.footerLinks {
    font-family: 'Quicksand', sans-serif;
    font-size: 1em;
    text-decoration: none;
    color: black;
}

.footerLinks:hover {
    color: gray;
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding: 1em 1em;
}



button {
    width: 30%;
    height: auto;
    float: center;
    border-radius: 0%;
    border-color: black;
    background-color: white;
    font-family: 'Arimo', sans-serif;


}

button:hover {
    color: gray;
    border-color: grey;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    max-height: 435px;
    margin: auto;
    text-align: center;
    font-family: 'Arimo', sans-serif;
  }

  .price {
    color: black;
    font-size: 22px;
    font-family: 'Arimo', sans-serif;
  }

  .card button {
    border: none;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    font-family: 'Arimo', sans-serif;
  }

  .card button:hover {
    opacity: 0.7;
  }


  .sticky {
    position: fixed;
    top: 0;
    width: 100%;

    
  }
  
  .sticky + .content {
    padding-top: 60px;
  }
