@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Arimo');


nav {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1em;
    align-items: center;
    text-align: center;
    border-bottom: 4px solid black;
    background: white;
}

@media screen and (max-width: 900px) {
    nav {
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-gap: 1em;
    }
}


.logo {
    grid-column-start: 3;
    grid-column-end: 5;
    background-image: url("https://puu.sh/BSsfJ/98074e9bac.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 10vh;
}


.navLinks {
    font-family: 'Pacifico', sans-serif;
    font-size: 1em;
    text-decoration: none;
    color: black;
}

.navLinks:hover {
    color: gray;
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding: 1em 1em;
}

.boxLinks {
    font-family: 'Pacifico', sans-serif;
    text-decoration: none;
    color: black;
}

.boxLinks:hover {
    color: gray;
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding: 1em 1em;
}

.boxLinks:visited {
    text-decoration: none;
    color: black;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(13, 1fr);

}

.box {
    background-color: white;
    color: black;
    padding: 20px;
    font-size: 150%;
}

.instagram-logo {
    grid-column-start: 6;
    background-image: url("https://puu.sh/BTBdu/e8cdc4ac57.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 4vh;
}


.products-grid {
    display: grid;
    grid-template-columns: 12;
    grid-template-rows: 12;
}
.a {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 5;
    background-image: url("https://puu.sh/BSvkA/69a4d7d251.JPG");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.b {
    font-family: 'Arimo', sans-serif;
    align-items: center;
    text-align: center;
    font-size: 1.2em;
    text-decoration: none;
    color: black;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;

}


.c {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 5;
    background-image: url("https://puu.sh/BSvkA/69a4d7d251.JPG");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

}

.d {
    font-family: 'Arimo', sans-serif;
    align-items: center;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 6;

}


.e {
    font-family: 'Arimo', sans-serif;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 9;
    background-image: url("https://puu.sh/BSw4b/d8cc5048ef.JPG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;


}

.f {
    font-family: 'Arimo', sans-serif;
    align-items: center;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 9;
    grid-row-end: 10;
}


.g{
    background-repeat: no-repeat;
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 6;
    grid-row-end: 9;
    background-image: url("https://puu.sh/BSw5S/83fc5c150d.JPG");
    background-position: center;
    background-size: contain;

}

.h {
    font-family: 'Arimo', sans-serif;
    align-items: center;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 9;
    grid-row-end: 10;

}


footer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1em;
    align-items: center;
    text-align: center;
    border-bottom: 4px solid black;
    background: white;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    opacity: .2;
    color: white;
    text-align: center;
}

.footerLinks {
    font-family: 'Quicksand', sans-serif;
    font-size: 1em;
    text-decoration: none;
    color: black;
}

.footerLinks:hover {
    color: gray;
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding: 1em 1em;
}



button {
    margin-bottom: 5px;
    grid-column: 4;
    width: 30%;
    height: auto;
    float: center;
    border-radius: 0%;
    border-color: black;
    background-color: white;
    font-family: 'Arimo', sans-serif;

}

button:hover {
    color: gray;
    border-color: grey;
}

.snipcart-checkout{
    grid-column-start: 7;
    float: right;
    height: 4vh;
}
.snipcart-checkout:hover {
    opacity: 0.5;
  transition: opacity .2s ease-out;
  -moz-transition: opacity .2s ease-out;
  -webkit-transition: opacity .2s ease-out;
  -o-transition: opacity .2s ease-out;
}
